<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oneiros.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Oneiros.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" /> 

</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <ul class="list-unstyled components">
                <li class="active sidebar-li-item">
                    <a>
                        <svg class="svg-inline--fa fa-w-18" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M462.9 19.12c-9.6 0-17.2 7.59-17.2 17.19 0 9.61 7.6 17.19 17.2 17.19s17.2-7.58 17.2-17.19c0-9.6-7.6-17.19-17.2-17.19zm-80.3 21.82c-160.3.8-218.1 217.46-362.93 96.26 3.25 36.8 88.43 78.4 88.43 78.4-26.03 20-34.78 24.7-71.99 25.5 104.09 86.7 338.69-99.8 408.39 40.1l-2.3-38.4-45.4-46.5 42.7.6-.6-10.2-50.7-32.2 48.4-7.2-.7-11.1-50-27.3 47.9-8.8-.6-10.69L381 66.66l50.5-5.85-.8-13.9c-17.1-4.2-33-6.05-48.1-5.97zm70.8 29.97l20.2 423.99 18.7-.9-20.2-423c-6.3 1.54-12.7 1.5-18.7-.1zM360 292.9l-43.6 70 21.3 25L322 493h18.9l15.2-102.3 28-20.2c-8.1-25.9-16.1-51.8-24.1-77.6zm-156.7 17.9l-28.8 69.8 20.5 20.2 2.2 92.2h18.7l-2.2-93 19.6-19.9-30-69.3zm-158.16 5l-16.4 61.9 17.65 13.2L61.24 493h18.87L64.89 388.3l13.22-17.6-32.93-54.9zm85.96 7.4l-28.2 57.5 15.1 17-6.7 95.3H130l6.8-95.3 15.9-14.2-21.6-60.3zM268 355.5l-19.5 68.4 19.4 15.2 5.8 53.9h18.9l-5.9-54.3 16.8-21.6c-11.9-20.5-23.7-41-35.5-61.6zm143.6.1l-18.9 68.6 20.3 15.5 6.2 53.3H438l-6.4-55.2 16-20.9z" fill="#fff" fill-opacity="1"></path>                        
                        </svg>

                        <strong>Campaigns</strong>
                    </a>
                </li>
                <li class="sidebar-li-item">
                    <a>
                        <svg class="svg-inline--fa fa-w-18" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M256 41c-29.03 0-56.162 11.49-78.38 31.12 1.61 1.512 3.192 3.022 4.714 4.49 9.823 9.47 18.386 17.234 26.963 18.484 5.004.73 11.068-1.446 18.715-4.95 7.647-3.503 16.566-8.274 27.62-8.294 11.163-.02 20.207 4.76 27.975 8.28 7.77 3.522 13.955 5.722 19.08 4.966 8.583-1.267 17.153-9.04 26.98-18.506 1.52-1.464 3.095-2.97 4.704-4.48C312.156 52.488 285.027 41 256 41zM143.572 72.99c-1.595-.076-5.878 2.043-9.21 5.373-4.138 4.14-8.75 9.024-11.485 13.395-2.736 4.37-3.203 7.102-2.465 9.043 3.604 9.48 12.928 14.148 27.156 17.555 14.228 3.408 31.67 4.636 46.905 8.99 20.49 5.857 41.04 10.94 61.052 10.968 20.34.026 41.222-5.056 62.012-10.97 15.233-4.332 32.672-5.563 46.897-8.974 14.224-3.412 23.55-8.088 27.154-17.57.738-1.94.27-4.672-2.465-9.042-2.736-4.37-7.347-9.256-11.486-13.395-3.33-3.33-7.614-5.45-9.21-5.373-8.463.402-16.603 7.244-26.273 16.56-9.67 9.317-20.536 20.948-36.84 23.354-11.4 1.683-21.038-2.707-29.138-6.38-8.1-3.67-14.97-6.685-20.51-6.674-5.422.01-12.174 3.002-20.156 6.66-7.983 3.657-17.506 8.043-28.807 6.396-16.317-2.377-27.19-14.016-36.86-23.34-9.672-9.323-17.813-16.174-26.27-16.576zm-8.437 60.555C126.11 155.883 121 181.13 121 208c0 67.545 32.248 124.872 78 151.332v-5.795h18v9s-.073 4.904 4.2 10.6c4.27 5.696 12.8 12.4 34.8 12.4 22 0 30.53-6.704 34.8-12.4 4.273-5.696 4.2-10.6 4.2-10.6v-9h18v5.795c45.752-26.46 78-83.787 78-151.332 0-26.865-5.11-52.11-14.13-74.443-2.73.888-5.49 1.657-8.24 2.316-16.316 3.913-33.775 5.26-46.167 8.783-21.193 6.028-43.652 11.687-66.96 11.656-22.997-.03-45.113-5.695-65.976-11.658-12.38-3.538-29.835-4.887-46.152-8.795-2.75-.66-5.51-1.428-8.24-2.315zm-29.02 37.197c-6.307 1.07-11.955 2.64-16.623 4.72-9.613 4.29-14.883 9.754-16.68 18.376-1.835 8.79 4.34 18.974 15.292 29.193 5.215 4.868 10.972 9.264 16.693 13.33-1.18-9.257-1.797-18.73-1.797-28.36 0-12.74 1.073-25.202 3.115-37.258zm299.77 0C407.927 182.798 409 195.262 409 208c0 9.63-.616 19.103-1.797 28.36 5.72-4.066 11.478-8.462 16.693-13.33 10.953-10.218 17.127-20.4 15.293-29.192-1.8-8.622-7.07-14.087-16.682-18.375-4.668-2.082-10.315-3.652-16.623-4.72zM151 179.428h82v18h-17.893C216.335 200.745 217 204.332 217 208c0 14.537-10.435 27.842-25 27.842S167 222.537 167 208c0-3.668.665-7.255 1.893-10.572H151v-18zm128 0h82v18h-17.893C344.335 200.745 345 204.332 345 208c0 14.537-10.435 27.842-25 27.842S295 222.537 295 208c0-3.668.665-7.255 1.893-10.572H279v-18zm-87 18.73c-3.11 0-7 3.566-7 9.842 0 6.276 3.89 9.842 7 9.842s7-3.566 7-9.842c0-6.276-3.89-9.842-7-9.842zm128 0c-3.11 0-7 3.566-7 9.842 0 6.276 3.89 9.842 7 9.842s7-3.566 7-9.842c0-6.276-3.89-9.842-7-9.842zm-96.615 29.13l6.664 6.048c10.193 9.253 18.694 12.328 26.63 12.053 7.936-.277 16.305-4.164 25.375-12.146l6.756-5.945 11.89 13.51-6.755 5.946c-11.043 9.72-23.294 16.16-36.64 16.623-13.347.462-26.79-5.312-39.354-16.716l-6.663-6.05 12.098-13.327zm-40.37 28.173l17.97 1.08c-.528 8.798-2.63 16.397-5.788 23.036 46.533 15.463 75.073 15.463 121.606 0-3.158-6.64-5.26-14.238-5.787-23.037l17.968-1.08c1.277 21.287 12.412 30.7 27.993 41.042l-9.954 14.996c-6.863-4.555-13.805-9.87-19.744-16.437l-4.434 1.48c-49.14 16.38-84.553 16.38-133.692 0l-4.433-1.48c-5.938 6.567-12.88 11.883-19.743 16.438l-9.954-14.996c15.58-10.34 26.716-19.755 27.993-41.04zm-53.247 57.112c-11.485 7.137-19.815 15.392-24.174 24.328 15.652 60.648 38.172 93.902 64.263 116.266 22.97 19.69 49.378 31.227 77.143 44.504V441h-32v-18h32v-19.86c-20.637-1.876-33.41-10.15-40.2-19.202-.244-.327-.46-.655-.69-.983-31.41-13.046-58.028-38.055-76.342-70.383zm252.464 0c-18.314 32.328-44.93 57.337-76.34 70.383-.23.328-.448.656-.693.983-6.79 9.053-19.563 17.326-40.2 19.2V423h32v18h-32v56.67c27.765-13.277 54.172-24.815 77.143-44.504 26.09-22.364 48.61-55.618 64.263-116.266-4.36-8.936-12.69-17.19-24.174-24.328zM231 327h50v18h-50v-18zM89.107 345.256c-19.795 1.35-39.674 8.244-54.736 16.61-6.51 3.618-12.106 7.51-16.37 11.148V494h37v-39h18v39h125.602c-13.88-7.477-27.505-16.063-40.46-27.166-28.365-24.313-52.697-60.595-69.035-121.578zm333.786 0c-16.338 60.983-40.67 97.265-69.036 121.578-12.954 11.103-26.58 19.69-40.46 27.166H439v-39h18v39h37V373.014c-4.264-3.637-9.86-7.53-16.37-11.147-15.063-8.367-34.942-15.262-54.737-16.61z" fill="#fff" fill-opacity="1"></path>                        
                        </svg>

                        <strong>Figuranten</strong>
                    </a>
                </li>
                <li class="sidebar-li-item">
                    <a>
                        <svg class="svg-inline--fa fa-w-18" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M467.838 35.848c-53.208 3.518-101.284 8.091-139.14 50.18 9.869 29.563 26.168 65.884 46.613 95.234 20.504 29.436 44.758 50.59 68.61 53.297 35.265-33.057 53.699-112.599 23.917-198.711zM189.8 46.02a70.936 54.43 66.039 0 0-15.987 3.638 70.936 54.43 66.039 0 0-20.931 86.928 70.936 54.43 66.039 0 0 51.62 45.443c2.392 57.507-19.428 43.883-70.534 73.606l15.888 31.69c35.566-13.731 51.844-19.703 69.27-44.317 32.586 93.92-1.874 157.236-23.688 247.078l33.711 4.916c23.698-57.247 55.114-122.355 62.438-181.422 48.937 51.134 77.498 114.641 114.65 169.143l35.82-14.75c-45.81-80.724-65.633-128.371-150.591-262.19 26.819-.194 49.826-6.592 70.683-15.422-7.036-10.105-13.565-20.882-19.529-31.886-28.223 12.083-59.028 16.997-90.14.855a70.936 54.43 66.039 0 0-.118-66.955 70.936 54.43 66.039 0 0-62.562-46.355zM15.47 87.309l3.287 34.09 52.6 107.77 21.568-10.526-52.383-107.325-25.072-24.01zm97.066 139.566l-46.756 22.822 3.137 18.496 56.271-27.464-12.652-13.854zm2.318 36.701l-21.568 10.528 16.668 34.15 21.568-10.527-16.668-34.15z" fill="#fff" fill-opacity="1"></path>                        </svg>

                        <strong>Spelers</strong>
                    </a>
                </li>
                <li class="sidebar-li-item">
                    <a>
                        <svg class="svg-inline--fa fa-w-18" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M66.89 18L128 128 18 117v32.5L96 208l-78 39v35l110 22-3.6 16c-12.6 12.1-21.9 26.5-28.46 42.5-14.43 35.2-16.64 85.7-16.9 131.5h18.1c.34-44.1 2.78-93.8 15.46-124.7 8.9-21.9 22.4-39.6 44.6-52.1-4.1-22-6.2-43.5-6.2-61.2v-14.6l13 6.6c9.6 4.7 16.5 6.2 23.1 5.7-5.2-14-8.1-29.6-8.1-45.7 0-29.1 9.1-55.2 23.3-73.7 14.2-18.5 33.1-29.3 53.7-29.3s39.5 10.8 53.7 29.3c14.2 18.5 23.3 44.6 23.3 73.7 0 16.1-2.9 31.7-8.1 45.7 6.6.5 13.6-1 23.1-5.7l13-6.6V256c0 17.7-2.1 39.2-6.2 61.2 22.2 12.5 35.7 30.2 44.6 52.1 12.7 30.9 15.1 80.6 15.5 124.7H433c-.3-45.8-2.5-96.3-16.9-131.5-6.6-16-15.9-30.5-28.6-42.6L384 304l110-22v-35l-78-39 78-58.5V117l-110 11 61.1-110h-37.8L304 80l-18.6-62h-58.8L208 80 104.7 18zM208 215v18h32v-18zm64 0v18h32v-18zm-33.6 36.1c-12.7 6.7-23.7 13.5-35.6 17.4-10 3.4-21.1 4.1-33.3.8.5 8 1.3 16.7 2.4 25.7 27.2-.4 51.7-3.3 77.7-29.4l1.7-1.6zm35.2 0L260.7 264l1.7 1.6c26 26.1 50.5 29 77.7 29.4 1.1-9 1.9-17.7 2.4-25.7-12.2 3.3-23.3 2.6-33.3-.8-11.9-3.9-22.9-10.7-35.6-17.4zM256 284.3c-27 23.7-55.2 27.8-81.3 28.5 1.7 9 3.6 18 6 26.9 2.2 8.3 4.8 16.3 7.6 23.9C193.9 353.1 201 343 208 336c0 21-6.9 35-11.6 46.8 3.8 7.6 7.8 14.4 12.1 20l24.5-24.5V400c0 14.5 2.8 19.1 7.4 23.6 3.4 3.5 9.1 6.9 15.6 12.3 6.5-5.4 12.2-8.8 15.6-12.3 4.6-4.5 7.4-9.1 7.4-23.6v-21.7l24.5 24.5c4.3-5.6 8.3-12.4 12.1-20C310.9 371 304 357 304 336c7 7 14.1 17.1 19.7 27.6 2.8-7.6 5.4-15.6 7.6-23.9 2.4-8.9 4.3-17.9 6-26.9-26.1-.7-54.3-4.8-81.3-28.5z" fill="#fff" fill-opacity="1"></path>
                        </svg>
                        <strong>Admin</strong>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">
            @RenderBody()
        </div>
    </div>

    @*<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Oneiros.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
