@{
    ViewData["Title"] = "Home Page";
}

<style>
    #greetingsBlock {
        margin:10vw;
    }
    #greetingsBlock h1 {
        margin-bottom: 50px;
    }
</style>

<div id="greetingsBlock" class="text-center">
    <h1 class="display-4">Greetings Adventurer</h1>
    <p>
        Welcome to the archive of the Orc scribe, Balator. This is a place where tales of valor and victory are recorded for all to see. Here, you will find the stories of heroes and monsters, of magic and intrigue.
    </p>
    <p>
        Step inside and discover the secrets of the ages. Explore the annals of history and the chronicles of legend. From the frozen tundras of the north to the scorching deserts of the south, these pages hold the tales of a thousand worlds.
    </p>
    <p>
        So come, dear visitor, and join me on this journey through the ages. Let us delve into the mysteries of the past, and unlock the secrets of the present.
    </p>
    <p>
        The pen is in my hand, and the world is at our feet. Let us write the next great adventure together.
    </p>
</div>
